* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  user-select: none;
}

main {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button {
  margin-top: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  background: transparent;
}

button:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: ease-in 100ms;
}

button:active {
  transform: scale3d(0.98, 0.98, 0.98);
}

button span {
  color: white;
  display: inline-block;
  margin-top: 0.2rem;
}

.head {
  width: 35rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
}

.machine-top-container {
  perspective: 600px;
}

.machine-top {
  width: 89.6%;
  height: 65px;
  background-color: #74080c;
  border-radius: 5px 5px 0 0;
  transform: rotateX(65deg) translateY(36px) translateX(5.8%);
}

.machine-body-container {
  display: flex;
  width: 32rem;
  height: 43rem;
  background-color: #e31a21;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 3px 19px 5px #ff727271;
}

.products-container {
  width: 100%;
  border-right: 1px solid #86090d;
}

.wrapper {
  margin: 2rem 1rem;
}

.products {
  background-color: #690003;
  width: 23rem;
  height: calc(100% - 6rem);
  box-shadow: inset 0px 0px 9px 4px #00000030;
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.products .product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.products .product img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.output {
  background-color: black;
  border-radius: 5px;
  width: 23rem;
  margin: 1rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 20rem;
  perspective-origin: center;
  cursor: pointer;
}

.output .door {
  border: 1px solid #470002;
  background-color: #690003;

  width: 100%;
  height: 2rem;
}

.output .door.up {
  border-radius: 5px 5px 0 0;
}

.output:hover .door.up {
  transform-origin: 0 0;
  animation: door 2s ease-in-out infinite;
}

.output .door.down {
  border-radius: 0 0 5px 5px;
}

.output:hover .door.down {
  transform-origin: 0 100%;
  animation: door-down 2s ease-in-out infinite;
}

.aside .logo img {
  width: calc(7rem - 1px);
}

.aside .buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.aside .buttons-container .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.aside .buttons-container .buttons button {
  padding: 4px 6px;
  border: 1px solid black;
  background: #370000;
  color: white;
}

.aside .buttons-container .buttons .preview {
  grid-column: 1/4;
  grid-row: 1/1;
  width: 100%;
  height: 70px;
  background: black;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #ffc9c9;
}

.preview span {
  animation: blink 1s infinite;
  font-family: "DOSGothic";
}

.aside .buttons-container .buttons .money-in {
  grid-column: 1/4;
  grid-row: 6/6;
  margin-top: 0.5rem;
  height: 15px;
  border-radius: 3px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.money-in .money {
  width: 80%;
  height: 2px;
  background-color: #b1b1b1;
}

.aside .buttons-container .buttons button.submit {
  grid-column: 1/4;
  grid-row: 5/5;
}

@keyframes door-down {
  0% {
    transform: rotateX(0);
  }
  25% {
    transform: rotateX(43deg);
  }
  75% {
    transform: rotateX(-43deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes door {
  0% {
    transform: rotateX(0);
  }
  25% {
    transform: rotateX(-43deg);
  }
  75% {
    transform: rotateX(43deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes blink {
  0% {
    color: #ffdf00;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #ffdf00;
  }
}

.product-label {
  width: 100%;
  padding: 2px;
  word-break: keep-all;
  color: white;
  margin-top: 5px;
}

.product-digit-label {
  font-size: 14px;
}

.take-out-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 24px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;

  animation: take-out-products 4s forwards;
}

.purchased-product {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 24px;
}

.purchased-product-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
}

.purchased-product-label {
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
}

@keyframes take-out-products {
  0% {
    pointer-events: all;
    opacity: 0;
  }
  50% {
    pointer-events: all;
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
