* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f7;
  user-select: none;
}

main {
  background-color: white;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

button {
  margin-top: 0.2rem;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
}

.purchase-button {
  width: 100%;
  padding: 2px;
}

.add-button {
  padding: 0px 5px 2px;
  font-size: 13.5px;
}

.head {
  width: 24rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
}

.products {
  background: #f5f5f7;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  width: 30rem;
  height: 32rem;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.product {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  border-radius: 4px;
  flex-direction: column;
}


.product:hover {
  box-shadow: 2px 4px 16px rgb(0 0 0 / 10%);
  transform: scale3d(1.01, 1.01, 1.01);
  transition: ease-in 100ms;
}

.product:active {
  transform: scale3d(0.98, 0.98, 0.98);
}

.product img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.output {
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  width: 24rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 20rem;
  perspective-origin: center;
  cursor: pointer;
}

.door {
  border: 1px solid rgb(211, 211, 211);
  background-color: #f5f5f7;
  width: 100%;
  height: 1.5rem;
}

.up {
  border-radius: 5px 5px 0 0;
}

.output:hover .up {
  transform-origin: 0 0;
  animation: door 2s ease-in-out infinite;
}

.down {
  border-radius: 0 0 5px 5px;
}

.output:hover .down {
  transform-origin: 0 100%;
  animation: door-down 2s ease-in-out infinite;
}

@keyframes door-down {
  0% {
    transform: rotateX(43deg);
  }
  50% {
    transform: rotateX(-43deg);
  }
  100% {
    transform: rotateX(43deg);
  }
}

@keyframes door {
  0% {
    transform: rotateX(-43deg);
  }
  50% {
    transform: rotateX(43deg);
  }
  100% {
    transform: rotateX(-43deg);
  }
}

.take-out-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 24px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;

  animation: take-out-products 4s forwards;
}

.purchased-product {
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 24px;
}

.purchased-product-image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
}

.purchased-product-label {
  margin-top: 12px;
  font-weight: bold;
  text-align: center;
}

@keyframes take-out-products {
  0% {
    pointer-events: all;
    opacity: 0;
  }
  50% {
    pointer-events: all;
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}